body {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Grande', open-sans, sans-serif;
}

.container {
    width: 976px;
    margin: 0 auto;
}

.commentBox {
  padding: 20px 40px;
  background: #ececec;
}

.comment {
  background: #ccc;
  padding: 10px 20px;
  margin-bottom: 10px;
}
